      <header class="header">
        <div class="row">
          <div class="small-12 columns medium-3 columns">
            <p>Test test test</p>
          </div>
          <div class="small-12 columns medium-6 end text-center">
            <a href="<%- url_for() %>">
              <img class="logo" src="<%- url_for() %>img/logo.png" alt="Trackfellas Logo">
            </a>
            <p>Welcome to foot prints - a blog by Trackfellas</p>

                      <a href="https://www.google.com/+trackfellas" rel="publisher"><img class="sma" src="<%- url_for() %>img/googletouch.svg" alt="Google+"></a>
                      <a href="https://twitter.com/trackfellas"><img class="sma" src="<%- url_for() %>img/twittertouch.svg" alt="Twitter"></a>
                      <a href="https://www.facebook.com/trackfellas"><img class="sma" src="<%- url_for() %>img/facebooktouch.svg" alt="Facebook"></a>
          </div>
        </div>
      </header>