      <header class="header">
        <div class="row">

          <div class="small-12 columns medium-12 end text-center">
            <a href="<%- url_for() %>">
              <img class="logo" src="<%- url_for() %>img/logo_icon.png" alt="Trackfellas Logo">
            </a>
            <p>Welcome to footprints - a blog by <a href="http://trackfellas.com">Trackfellas</a></p>

                      <a href="https://www.google.com/+trackfellas" rel="publisher"><img class="sma" src="<%- url_for() %>img/googletouch.svg" alt="Google+"></a>
                      <a href="https://twitter.com/trackfellas"><img class="sma" src="<%- url_for() %>img/twittertouch.svg" alt="Twitter"></a>
                      <a href="https://www.facebook.com/trackfellas"><img class="sma" src="<%- url_for() %>img/facebooktouch.svg" alt="Facebook"></a>
          </div>
        </div>
      </header>